<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<h2>Signup</h2>

<form class="form signup-form">
  <div class="form-group">
    <label class="login-text" for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name-signup" />
  </div>
  <div class="form-group">
    <label class="login-text" for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label class="login-text" for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <label class="login-text" for="height-signup">Height:</label>
    <select class="form-input" id="height-feet" style="width: 48%; display: inline-block;">
      <option value="2">2 ft</option>
      <option value="3">3 ft</option>
      <option value="4">4 ft</option>
      <option value="5">5 ft</option>
      <option value="6">6 ft</option>
      <option value="7">7 ft</option>
    </select>
    <select class="form-input" id="height-inches" style="width: 48%; display: inline-block; margin-left: 4px;">
      <option value="0">0 in</option>
      <option value="1">1 in</option>
      <option value="2">2 in</option>
      <option value="3">3 in</option>
      <option value="4">4 in</option>
      <option value="5">5 in</option>
      <option value="6">6 in</option>
      <option value="7">7 in</option>
      <option value="8">8 in</option>
      <option value="9">9 in</option>
      <option value="10">10 in</option>
      <option value="11">11 in</option>
    </select>
  </div>
  <div class="form-group">
    <label class="login-text" for="weight-signup">Weight:</label>
    <input class="form-input" type="text" id="weight" />
    <label style="margin-left: 10px;">
      <input type="radio" name="weight-unit" value="lbs" checked> lbs
    </label>
    <label style="margin-left: 10px;">
      <input type="radio" name="weight-unit" value="lbs" checked> kgs
    </label>
  </div>
  <div class="form-group">
    <button class="hover-button" type="submit">
      <a>Sign-Up</a>
    </button>
  </div>
</form>

<script src="/js/login.js"></script>