<div style="width: 80%; margin: 0 auto;">
  <canvas id="weightChart"></canvas>
</div>
<div>
  <label for="weightInput">Enter Weight (lbs):</label>
  <input type="number" id="weightInput" />
  <button onclick="addData()">Add Data</button>
</div>
<script src="/js/user.js"></script>